@model gellmvc.Domain.Entities.OrderedProduct

<div class="row tiny-font row-order-line-item mg-table-feint">

  <div class="col-xs-5">

    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <!-- Image tag -->
        <div style="width: 50px; display:inline-block;">
          @{
            string imgFolder = gellmvc.Helpers.ApplicationHelper.ProductImagesFolder();
          }
          <img src="@imgFolder/@Model.Product.ImageUrl" alt="@imgFolder/@Model.Product.ImageUrl" class="img-rounded img-responsive with-vert-margins" style="max-width: 40px;" />
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        @Model.Product.Name
      </div>
    </div>
    
  </div>

  <div class="col-xs-3 text-center">
    @Model.QtyToOrder
  </div>

  <div class="col-xs-4 text-right">
    $@(Model.QtyToOrder * Model.Product.UnitPrice)
  </div>

</div>