@model gellmvc.Domain.Entities.Order

<div class="">
  <div class="row  row-order-line-item mg-table-feint">

    <div class="col-xs-5">
    </div>

    <div class="col-xs-3 text-center" style="border: none;">
    </div>

    <div class="col-xs-4" style="border: none;">

      <div class="pull-right" style="border: none;">
        <div class="" style="width:60px; display:inline-block; border: none; ">
          <b>Total:</b>
        </div>

        <div class="pull-right text-right" style="display:inline-block; border: none;">
          <b>$@Model.GrandTotal()</b>
        </div>
      </div>

    </div>

  </div>
</div>