

<div class="container top-level-container">
  <h2>Thanks for registering.</h2>
  <h3>We have sent you an email with an activation link. Please check your email and click this activation link, to begin using your account.</h3>
</div>