@model System.Web.Mvc.HandleErrorInfo

@{
  ViewBag.Title = "Error";
}

<div class="col-xs-12">
  <h1 class="text-danger">Error.</h1>
  @{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
      <h4 class="text-danger" style="line-height:140%;">An error occurred while processing your request.</h4>
    }
    else
    {
      <h4 class="text-danger" style="line-height:140%;">@ViewBag.errorMessage</h4>
    }
  }
</div>