<!--
At runtime the entire <connectionStrings> element in web.config will be replaced by the <connectionStrings> element below.

See
https://docs.microsoft.com/en-us/aspnet/identity/overview/features-api/best-practices-for-deploying-passwords-and-other-sensitive-data-to-aspnet-and-azure#working-with-connection-strings-in-the-development-environment
-->

<connectionStrings>
  
  
</connectionStrings>