@model gellmvc.Models.StoreListViewModel

@* Some javascript will get attached to this *@
<button name="remove-welcome-text" type="button" class="btn btn-default" id="remove-welcome-text" style="border:none; margin:0px; padding: 8px; position: absolute; right:1px; top:2px; ">
  <span class="glyphicon glyphicon-remove"></span>
</button>