@model gellmvc.Models.CartIndexViewModel

<div class="row">
  <div class="col-xs-12 well">
    <h3>Shipping Address:</h3>

    <!--
      Please read:
      https://www.pluralsight.com/guides/asp-net-mvc-getting-default-data-binding-right-for-hierarchical-views
    -->

    @if (Model.User != null && Model.Addresses.Where(a => a.Deleted == false).Count() > 0)
    {
      @Html.Partial("~/Views/Partials/Shopping/Checkout/_AddressHeader.cshtml")

      // cannot use a foreach loop to get modelbinding working on a nested viewmodel. Use a for loop.

      foreach (gellmvc.Models.UserAddress address in Model.Addresses)
      {
        if (address.Deleted == false)
        {
          @Html.Partial("~/Views/Partials/Shopping/Checkout/_AddressRow.cshtml", new gellmvc.Models.AddressRowViewModel
          {
            User = Model.User,
            UserAddress = address,
            IsShipping = Model.ShippingAddress == address.Id,
            IsBilling = Model.BillingAddress == address.Id
          })
        }
      }
    }
    else
    {
      @Html.Partial("~/Views/Partials/Address/_AtPOS.cshtml", Model.AddressFieldsPOS, new ViewDataDictionary(ViewData) {
        TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "AddressFieldsPOS" }
      })
    }

  </div>
</div>