@model gellmvc.Models.CartIndexViewModel

@using gellmvc.Extensions

<div class="row">
  <div class="col-xs-12 well">
    <h3>Shipping Address:</h3>

    @if (Model.User != null && Model.Addresses.Where(a => a.Deleted == false).Count() > 0)
    {
      @* Got some addresses from the database.

      @Html.Partial("~/Views/Partials/Shopping/Checkout/_AddressHeader.cshtml")

      // Cannot use a foreach loop to get modelbinding working on a nested viewmodel. Use a for loop.
      for (var i = 0; i < Model.Addresses.Count(); i++)
      {
        gellmvc.Models.UserAddress address = Model.Addresses.ElementAtOrDefault(i);
        if (address.Deleted == false)
        {
          @Html.Partial("~/Views/Partials/Shopping/Checkout/_AddressRow.cshtml", new gellmvc.Models.AddressRowViewModel
          {
            User = Model.User,
            UserAddress = address,
            IsShipping = Model.ShippingAddressIdx == address.Id,
            IsBilling = Model.BillingAddressIdx == address.Id
          })
        }
      }
      *@

    }
    else
    {
      @* No addresses available from database. Enter address details at point of sale. *@
      
      @Html.PartialFor(m => m.AddressFieldsPOS, "~/Views/Partials/Address/_AtPOS.cshtml")
    }

  </div>
</div>