@model gellmvc.Models.Pager

@*
  This pagination thanks to Jason Watmore's excellent example (at his blog)...
  http://jasonwatmore.com/post/2015/10/30/aspnet-mvc-pagination-example-with-logic-like-google
*@

<!-- pager -->
@if (Model.EndPage > 1)
{
  <ul class="pagination">
    @if (Model.CurrentPage > 1)
    {
      <li>
        <a href="~/Store/Index">First</a>
      </li>
      <li>
        <a href="~/Store/Index?page=@(Model.CurrentPage - 1)">Previous</a>
      </li>
    }

    @for (var page = Model.StartPage; page <= Model.EndPage; page++)
    {
      <li class="@(page == Model.CurrentPage ? "active" : "")">
        <a href="~/Store/Index?page=@page">@page</a>
      </li>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
      <li>
        <a href="~/Store/Index?page=@(Model.CurrentPage + 1)">Next</a>
      </li>
      <li>
        <a href="~/Store/Index?page=@(Model.TotalPages)">Last</a>
      </li>
    }
  </ul>
}