/*--------------------------------------------------------------------------------------------
Content of order.scss
*/

div.orders-page {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

div.orders-page .tiny-font{
  font-size: 14px;

  @media screen and (max-width: 430px) {
    font-size: 11px;
  }

  @media screen and (max-width: 345px) {
    font-size: 9px;
  }
}

a.noUnderline, a.noUnderline:focus{
  color: #697F92;
}
a.noUnderline:hover, a.noUnderline:focus{
  text-decoration:none;
}

.order-dropshadow {
  -webkit-box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.3);
}

div.well.solidBackground.mg-hover {
  background-color: white;
  border: 2px solid white; //#f8f8f8;
}

div.well.solidBackground.mg-hover:hover {
  /*background-color: rgb(245, 245, 245);*/
  border: 2px solid #eaeaea;
}

div.well.solidBackground.mg-hover-static {
  background-color: rgb(250, 250, 250);
  padding-top: 12px;
  padding-bottom: 9px;
}


.mg-table-feint {
  color: rgb(88, 88, 88);
}

div.mg-border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(233, 233, 233);
  margin-bottom: 0px;
  padding-bottom: 7px;
}

div.row.row-order-line-item {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(230,230,230);
  padding-top: 7px;
  padding-bottom: 7px;
}