@model gellmvc.Models.OrderIndexViewModel

<div class="container top-level-container">

  <div class="row orders-page">
    <div class="col-xs-12">

      <div class="row">
        <div class="col-xs-12">
          <h3 class="content-heading">
            My Orders
          </h3>
        </div>
      </div>

      @if (Model.Orders.Count() == 0)
      {
        <span>None at the moment.</span>
      }
      else
      {
        foreach (var order in Model.Orders)
        {
          <a href="@Url.Action("Show", "Order", new { @OrderId = order.Id })" class="noUnderline">
            <div class="well solidBackground mg-hover order-dropshadow" style="padding-top:5px; padding-bottom:5px;">
              @Html.Partial("~/Views/Partials/Order/_Head.cshtml", order,
                new ViewDataDictionary { { "showImages", true } }
              )
            </div>
          </a>
        }
      }
    </div>
  </div>

  <br />
  <br />

</div>