@model gellmvc.Models.OrderViewModel

<div class="container top-level-container">

  <div class="row orders-page">
    <div class="col-xs-12">

      <div style="margin-top:10px; margin-bottom:5px;">
        <a href="/Order/Index" class="btn btn-default content-header-btn">Back to Orders</a>
      </div>

      <div class="well solidBackground mg-hover-static">
        @Html.Partial("~/Views/Partials/Order/_Head.cshtml", Model.Order,
          new ViewDataDictionary { { "showImages", false } }
        )

        @Html.Partial("~/Views/Partials/Order/_Line.cshtml", Model.Order)
        @Html.Partial("~/Views/Partials/Order/_Summary.cshtml", Model.Order)
        @**@
      </div>

    </div>
  </div>

  <br />
  <br />

</div>