@model gellmvc.Models.OrderViewModel

<div class="row orders-page">
  <div class="col-xs-12">

    <div class="row content-header-row">
      <div class="col-xs-12">
        <p>
          @Html.ActionLink("Show all Orders",
            "Index",            // action
            "Order",            // controller
            new { },            // route values
            new { @class = "" } // html attributes
          )
        </p>
      </div>
    </div>

    <div class="well solidBackground mg-hover-static">
      @Html.Partial("~/Views/Partials/Order/_Head.cshtml", Model.Order,
        new ViewDataDictionary { { "showImages", false } }
      )

      @Html.Partial("~/Views/Partials/Order/_Line.cshtml", Model.Order)
      @Html.Partial("~/Views/Partials/Order/_Summary.cshtml", Model.Order)
      @**@
    </div>

  </div>
</div>

<br />
<br />