@if (TempData["flashSuccess"] != null)
{
  <div class="alert alert-success" style="margin-top:10px; margin-bottom:10px;" role="alert">
    @TempData["flashSuccess"]
  </div>
}

@if (TempData["flashDanger"] != null)
{
  <div class="alert alert-danger" style="margin-top:10px; margin-bottom:10px;" role="alert">
    @TempData["flashDanger"]
  </div>
}